# Data Processing
pandas
numpy

# Environment & UI
python-dotenv
streamlit

# Google Gemini API
google-generativeai

# Document Processing
pillow
pypdf
python-docx

# Voice & Speech
SpeechRecognition
gTTS
sounddevice
scipy

# Database & ORM
pymongo
sqlalchemy
psycopg2-binary

# NLP & Vector Embeddings
spacy
tiktoken
faiss-cpu
sentence-transformers
langchain-text-splitters
